<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoClicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<userSettings>
        <AutoClicker.Properties.Settings>
                <setting name="last_button" serializeAs="String">
                        <value>right</value>
                </setting>
                <setting name="last_option" serializeAs="String">
                        <value>hold</value>
                </setting>
                <setting name="last_delay" serializeAs="String">
                        <value>300</value>
                </setting>
                <setting name="last_proc_name" serializeAs="String">
                        <value>javaw</value>
                </setting>
                <setting name="last_app_title" serializeAs="String">
                        <value>Minecraft</value>
                </setting>
        </AutoClicker.Properties.Settings>
    </userSettings>
</configuration>